.quality-card--page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  justify-content: center;


  .back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;

    svg {
      width: 50px;
      height: 50px;
    }

    &:hover {
      svg {
        .circle {
          fill: #17274E;
        }
        .arrow {
          stroke: #fff;
        }
      }
    }
  }


  .card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .appreciation-card-wrapper {
    width: 896px;
    height: 480px;
    margin: 50px 50px 35px;
    max-width: 1000px;
  }

  .appreciation-card {
    width: 100%;
    height: 100%;
  }

  .card-content {
   display: flex;
   height: 100%;
   width: 100%;   
  }

  .card-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 35%;
    overflow: hidden;

    img {
      height: 264px;
      object-fit: contain;
      width: auto;
    }
  }
  .card-details-section {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-basis: 65%;
  }

  .card-details-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #474747;
    margin-top: 35px;
    transform: translate(-160px);
  }

  .card-details-to {
    margin-top: 24px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    line-height: 40px;
    color: #52575C;

    input {
      outline: none;
      border: none;
      border-bottom: 2px solid #DBDDE0;
      width: calc(100% - 250px);
      margin-left: 10px;
      padding: 0 10px;
    }
  }

  .card-details-desc {
    margin-top: 15px;
    font-family: 'Patrick Hand', cursive;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    color: #52575C;
    height: calc(100% - 235px);

    textarea {
      color: #52575C;
      width: calc(100% - 100px);
      border: none;
      outline: none;
      letter-spacing: 0.025em;

      $fontSize: 20px;
      $lineWidth: 2px;
      $lineColor: #DBDDE0;
      $xPadding: 10px;
      $backgroundColor: #ffff;

      background-attachment: local;
      background-image:
          linear-gradient(to right, $backgroundColor, $backgroundColor $xPadding, transparent $xPadding),
          linear-gradient(to left, $backgroundColor, $backgroundColor $xPadding, transparent $xPadding),
          repeating-linear-gradient(
            $backgroundColor,
            $backgroundColor $fontSize*2-$lineWidth,
            $lineColor $fontSize*2-$lineWidth,
            $lineColor $fontSize*2
          );
        line-height: $fontSize*2;
        padding: $fontSize/3 $xPadding;
        resize: none;
    }
  }

  .card-details-from {
    margin-top: 24px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    line-height: 40px;
    color: #52575C;

    input {
      outline: none;
      border: none;
      border-bottom: 2px solid #DBDDE0;
      width: 250px;
      margin-left: 10px;
      padding: 0 10px;
    }
  }

  .share-options {
    min-height: 80px;
    display: flex;
    justify-content: center;
  }

  .share-buttons {
    display: flex;
    margin-top: 16px;
    font-size: 1.2rem;
    color: #25282B;

    .btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 17px 38px;
      margin-left: 20px;
      
      font-weight: 600;
      color: #17274E;
      background: #FFFFFF;
      border: 1.5px solid #17274E;
      border-radius: 6px;

      &:hover:not(:disabled) {
        background: #17274E;
        color: #FFFFFF;
      }

      &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: default;
      }

      svg {
        margin-right: 8px;
      }
    }
  }

  .card-info {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;

    &:hover {
      svg {
        circle {
          stroke: #007EFF;
        }
        path {
          fill: #007EFF;
        }
      }
    }
  }

  .card-quality-info {
    &--c {
      --card-color: #ffd15b;
      --card-text-color: #17274E;
    }
    &--h {
      --card-color: #2281c6;
      --card-text-color: #ffff;
    }
    &--a {
      --card-color: #ed5d5e;
      --card-text-color: #ffff;
    }
    &--t {
      --card-color: #ee552e;
      --card-text-color: #ffff;
    }

    border: none;
    position: relative;
    background: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
    ul li {
      font-family: 'Sailec-Medium';
      font-size: 20px;
      color: var(--card-text-color);
      margin-bottom: 22px;
    }
  }

  .info-close-icon {
    cursor: pointer;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }

  .dummy-div {
    // display: flex;
    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1100px;
    height: 600px;
    opacity: 0.01;
    z-index: 1;
    background: gray;


    .appreciation-card {
      width: 1000px;
      height: 500px;
    }
  }
}