.quality-card--page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;


  .back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;

    svg {
      width: 50px;
      height: 50px;
    }
  }


  .card-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .appreciation-card {
    width: 70vw;
    height: 60vh;
    margin: 50px;
    max-width: 1000px;
    // min-height: 400px;
    // min-width: 800px;
  }

  .card-content {
   display: flex;
   height: 100%;
   width: 100%;   
  }

  .card-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 35%;
    overflow: hidden;

    img {
      height: 264px;
      object-fit: contain;
      width: auto;
    }
  }
  .card-details-section {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-basis: 65%;
  }

  .card-details-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #25282B;
    margin-top: 35px;
    transform: translate(-160px);
  }

  .card-details-to {
    margin-top: 24px;
    font-family: 'Kalam', cursive;
    font-size: 25px;
    line-height: 40px;
    color: #52575C;

    input {
      outline: none;
      border: none;
      border-bottom: 2px solid #DBDDE0;
      width: calc(100% - 250px);
      margin-left: 10px;
      padding: 0 10px;
    }
  }

  .card-details-desc {
    margin-top: 15px;
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    color: #52575C;
    height: calc(100% - 235px);

    textarea {
      color: #52575C;
      width: calc(100% - 100px);
      border: none;
      outline: none;

      $fontSize: 20px;
      $lineWidth: 2px;
      $lineColor: #DBDDE0;
      $xPadding: 10px;
      $backgroundColor: #ffff;

      background-attachment: local;
      background-image:
          linear-gradient(to right, $backgroundColor, $backgroundColor $xPadding, transparent $xPadding),
          linear-gradient(to left, $backgroundColor, $backgroundColor $xPadding, transparent $xPadding),
          repeating-linear-gradient(
            $backgroundColor,
            $backgroundColor $fontSize*2-$lineWidth,
            $lineColor $fontSize*2-$lineWidth,
            $lineColor $fontSize*2
          );
        line-height: $fontSize*2;
        padding: $fontSize/3 $xPadding;
        resize: none;
    }
  }

  .card-details-from {
    margin-top: 24px;
    font-family: 'Kalam', cursive;
    font-size: 25px;
    line-height: 40px;
    color: #52575C;

    input {
      outline: none;
      border: none;
      border-bottom: 2px solid #DBDDE0;
      width: 200px;
      margin-left: 10px;
      padding: 0 10px;
    }
  }

  .share-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: 10px auto;
    margin-bottom: 90px;
    min-height: 80px;
  }

  .share-text {
    font-size: 1.2rem;
    color: #52575C;
  }

  .share-buttons {
    display: flex;
    margin-top: 16px;
    font-size: 1.3rem;
    color: #25282B;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: #FFFFFF;
      border: 1px solid #52575C;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      padding: 8px 12px;
      margin-left: 25px;
      color: inherit;

      &:hover:not(:disabled) {
        box-shadow: none;
        background: #E8E8E8;
      }

      &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: default;

        svg {
          path {
            stroke: #666666; 
          }
        }
      }

      svg {
        margin-right: 8px;
      }
    }
  }

  .dummy-div {
    // display: flex;
    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1100px;
    height: 600px;
    opacity: 0.01;
    z-index: 1;
    background: gray;


    .appreciation-card {
      width: 1000px;
      height: 500px;
    }
  }
}